{$HOST} {
        basicauth /* {
                {$RPC_USERS}
        }
        reverse_proxy gaiad:26657
}

{$HOST}:9100 {
        basicauth /* {
                {$METRICS_USERS}
        }
        reverse_proxy nodeexporter:9100
}